# Time Series - Forecasting with Exogenous Variables example

###### Links:

### 0 - Setup

###### Import pckgs

In [2]:
import warnings
warnings.filterwarnings("ignore")
from ts_utils import *

###### Import data

In [17]:
import pandas_datareader as web

symbol = "NFLX"
start = "2020-01-01"
end = "2020-12-31"

dtf = web.DataReader(name=symbol, data_source="yahoo", start=start, end=end, retry_count=10)
dtf.head(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,329.980011,324.779999,326.100006,329.809998,4485800,329.809998
2020-01-03,329.859985,325.529999,326.779999,325.899994,3806900,325.899994
2020-01-06,336.359985,321.200012,323.119995,335.829987,5663100,335.829987

In [18]:
dtf = dtf.rename(columns={"Close":"y"})
dtf[["x1","x2"]] =  dtf[["Volume","Open"]].shift(1)
dtf = dtf[["x1","x2","y"]]
dtf.tail(3)

                   x1          x2           y
Date
2020-12-16  3398200.0  518.500000  524.830017
2020-12-17  3682400.0  520.109985  532.900024
2020-12-18  3193400.0  529.000000  534.450012

### 1 - TimeSeries Analysis